body{
    background-color: #e4b9c0;
}
.main{
    background-color:white;
    margin: 30px;
}

.media-object{
    width: 42px;
    height: 42px;
}

.btn-publish{
    float:right;
    margin-bottom: 30px;
}

.text-desc {
    font-size: 12px;
    font-weight: normal;
    color: #999;
}

.profile .margin{
    margin:15px
}